@model ProjetoSalaoMVC.Models.ViewsModel.UsuarioFormViewModel;
    @{
        ViewData["Title"] = "Create";
    }

    <h2>@ViewData["Title"]</h2>

    <h4>Usuários</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="Usuario.Login" class="control-label"></label>
                    <input asp-for="Usuario.Login" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Usuario.Senha" class="control-label"></label>
                    <input asp-for="Usuario.Senha" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Usuario.TipoUsuario" class="control-label"></label>
                    <select asp-for="Usuario.TipoUsuario" asp-items="@(new SelectList(Model.TipoUsuarios,"Value","Text"))" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>