@model ProjetoSalaoMVC.Models.Usuario
@{
    ViewData["Title"] = "Deteils";
}

<h2>@ViewData["Title"]</h2>

<h3>Quer atualizar?</h3>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUsuar" class="btn btn-default">Edit</a>
    <a asp-action="Index">Voltar</a>
</div>

